img,
object,
embed {max-width: 100%;}

ul {list-style: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}

select, input, textarea {font: 99% sans-serif;}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
/*start task*/

.container {
    width: 1920px;
    background-color: honeydew;
}
.wrapper {
    width : 1700px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: mintcream;
}
.header-list {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    align-items: center;
    border-bottom: 3px solid black;
}
.logo {
    width: 250px;
}
a {
    text-decoration: none;
    color: black;
}
.add-adv {
    width: 400px;
    height: 70px;
    padding-top: 15px;
    text-align: center;
    background-color: powderblue;
}
.user-block {
    display: flex;
    align-items: center;
}
.user-guest {
    color: blue;
    text-decoration: underline;
}
.user-list {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-logo {
    width: 60px;
}
/*search*/

.search-block {
    width: 1500px;
    height: 300px;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    background-color: lightblue;
}
.search-btn {
    width: 120px;
    height: 60px;
    font-size: 25px;
    background-color: powderblue;
}
/* adv-block*/

.adve {
    width: 1500px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    font-size: 25px;
    height: 250px;
}
.adve-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}
.headlines {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adve-name {
    font-size: 45px;
}
.service-photo {
    width: 250px;
    height: 250px;
}
.adve-href {
    color: cornflowerblue;
    text-decoration: underline;
}
.sell {
    color: red;
    font-size: 35px;
}
.validity-date {
    display: flex;
    justify-content: space-between;
}
.rate {
    font-size: 30px;
    color: royalblue;
}
.name-rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comments {
    width: 1500px;
    margin: 0 auto;
}
.com-text {
    font-size: 25px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    background-color: mintcream;
}
.mark {
    font-size: 35px;
    padding-right: 15px;
    padding-left: 15px;
}
.user-com {
    width: 60px;
    height: 50px;
}
.com {
    display: flex;
    width: 1000px;
    align-items: center;
}
.write-com {
    color: cornflowerblue;
    font-size: 35px;
    text-decoration: underline;
}
.download-more {
    color: cornflowerblue;
    font-size: 35px;
    text-decoration: underline;
    margin-left: 900px;
}
footer {
    display: flex;
    align-items: center;
    background-color: mintcream;
}
.email {
    text-decoration: underline;
    color: cornflowerblue;
    font-size: 25px;
}
.student {
    margin-left: 35px;
    color: cornflowerblue;
    font-size: 27px;
}
.date-footer {
    font-size: 30px;
    margin-left: 1000px;
}